.dashboard-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar-container {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 0px 10px 0px 10px;
  justify-content: right;
  position: fixed;
  width: 100%;
  margin-right: 30px;
}
.finance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.form-container {
  width: 80%;
}
.form-field input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 18px;

}
.form-field label {
  padding-bottom: 10px;
  color: cadetblue;
  font-weight: 700;
}
button {
  color: white;
  background-color: #434343;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 20px;
  width: 150px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #343434
}
.table{
  border-collapse: collapse;
  width: 100%; 
  margin-bottom: 30px;
}
.table th,td{
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}
.table th{
  background-color:cadetblue;
  color: white;
  font-size: 18px;
}
.table tbody tr:nth-child(odd){
  background-color: #f2f2f2;
}
.table tbody tr:hover {
  background-color: #e8f4f8;
}
